nav.nav-bar
    .container
        ul.nav
            li.nav-item
                a.nav-link(href= '/') News
            if user
                li.nav-item
                    a.nav-link(href= '/admin') Admin