body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
.link,
a {
  text-decoration: none;
  color: #2196f3;
}
.link:hover,
a:hover {
  text-decoration: underline;
}
body {
  font: 16px/1.3 Helvetica, Arial, sans-serif;
}
img {
  border: none;
}
.container {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 20px;
}
.container:after {
  display: block;
  float: none;
  clear: both;
  content: '';
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-center {
  text-align: center;
}
.header {
  margin: 120px 0 40px;
}
.clear-float:after {
  display: block;
  float: none;
  clear: both;
  content: '';
}
.logo {
  font-size: 100px;
}
.footer {
  position: fixed;
  bottom: 60px;
}
.section {
  margin: 40px 0;
}
.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 19px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f8f8f8;
}
.nav-item {
  display: inline-block;
}
.nav-link {
  display: inline-block;
  padding: 15px;
  color: #777;
}
.nav-link:hover {
  text-decoration: none;
}
.nav-link.active,
.nav-link:hover {
  color: #555;
  background-color: #e7e7e7;
}
.btn {
  font-size: 18px;
  display: inline-block;
  margin: 20px 0;
  padding: 10px 16px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  background: #9e9e9e;
  background-image: none;
}
.btn[disabled="disabled"] {
  background: #eee;
}
.btn--danger {
  background: #f44336;
}
.btn--warning {
  background: #ff9800;
}
.btn--success {
  background: #4caf50;
}
.btn--info {
  background: #80d8ff;
}
.btn--primary {
  background: #2196f3;
}
.btn--link {
  border: none;
  background: none;
  box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
}
.btn--login,
.btn--signup {
  margin-bottom: 0;
}
.link--sign-up {
  padding: 0 20px;
}
.table {
  border-collapse: collapse;
  background-color: transparent;
}
.table td,
.table th {
  padding: 12px;
  vertical-align: top;
  border: 1px solid #eceeef;
}
.table tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.hidden {
  display: none;
}
.break-word {
  word-break: break-word;
}
.form {
  padding: 24px;
  border: solid #eee 2px;
  margin: 0 auto;
}
.form .ng-invalid.ng-touched,
.form .ng-invalid.ng-touched {
  border-color: #f44336;
  background: rgba(244, 67, 54, 0.2);
}
.form span.invalid {
  color: #f44336;
  position: absolute;
  top: -16px;
  font-size: 12px;
}
.form__group {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.form__group:after {
  display: block;
  clear: both;
  content: '';
}
.form__group label {
  float: left;
  box-sizing: border-box;
  width: 20%;
  padding: 8px;
}
.form__group input,
.form__group textarea {
  float: left;
  box-sizing: border-box;
  width: 80%;
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.form--login,
.form--signup {
  width: 300px;
  box-sizing: border-box;
}
.form--login input,
.form--signup input,
.form--login textarea,
.form--signup textarea {
  width: auto;
}
.form--login span.invalid.server-error,
.form--signup span.invalid.server-error {
  position: static;
  display: block;
  font-size: 12px;
  padding: 4px 12px;
  width: 172px;
  background: rgba(244, 67, 54, 0.2);
}
.form--login {
  padding: 0;
  border: none;
  width: auto;
}
.message {
  padding: 8px 16px;
  margin: 20px 0 0;
}
.message--error {
  color: #f44336;
  border-color: #f44336;
  background: rgba(244, 67, 54, 0.2);
}
.message--success {
  color: #4caf50;
  border-color: #4caf50;
  background: rgba(76, 175, 80, 0.2);
}
.title {
  margin: 20px 0;
}
.text-right {
  text-align: right;
}
.error {
  color: #f44336;
  border-color: #f44336;
  background: rgba(244, 67, 54, 0.2);
}
@media only screen and (max-width: 767px) {
  .footer,
  .header {
    text-align: center;
  }
  .section {
    display: block;
    float: none;
    margin: 32px auto;
  }
  .section--signup {
    text-align: center;
  }
  .form {
    display: inline-block;
  }
  .form__group {
    float: none;
  }
  .pull-left,
  .pull-right {
    float: none;
  }
}
@media only screen and (max-width: 767px) {
  .logout {
    max-width: 260px;
    margin: 0 auto;
  }
}
.article {
  margin: 48px 0;
}
.article:first-child {
  margin-top: 0;
}
.article__link {
  display: inline-block;
}
.article__link:hover {
  text-decoration: none;
}
.article__img {
  display: block;
  max-width: 500px;
  max-height: 320px;
  margin: 32px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.article__desc {
  text-decoration: none;
  color: #333;
}
.article__info {
  text-decoration: none;
  color: #999;
}
.article__headline {
  font-size: 32px;
  margin: 16px 0 8px;
  color: #000;
}
.article__headline:hover {
  text-decoration: underline;
}
.articles-list--admin .table {
  width: 100%;
}
.articles-list--admin .table td.title {
  width: 100%;
}
.articles-list--admin .table .btn {
  margin: 0;
  padding: 8px;
  font-size: 14px;
}
@media only screen and (max-width: 967px) {
  .article {
    margin: 0 0 32px;
  }
  .article__img {
    max-width: 100%;
  }
}
.article-form {
  padding: 8px 12px;
}
.article-form__headline {
  padding: 14px;
  margin: -8px -12px 20px;
  font-weight: normal;
  border-radius: 4px;
  background-color: #f9f9f9;
  border: 1px solid #eceeef;
}
.article-form__form {
  border: none;
  padding: 0;
}
.article-form .btn {
  margin-right: 20px;
}
.articles-count {
  padding-top: 22px;
}
@media only screen and (max-width: 767px) {
  .articles-count {
    padding-top: 0;
  }
}
.create-article__btn {
  margin: 0 0 20px;
}
@media only screen and (max-width: 767px) {
  .create-article__btn {
    margin: 20px 0;
  }
}
.remove-article__headline {
  padding: 14px;
  margin: 20px 0;
  font-weight: normal;
  border-radius: 4px;
  background-color: #f9f9f9;
  border: 1px solid #eceeef;
}
.remove-article__table {
  width: 100%;
}
.remove-article .btn {
  margin-right: 20px;
}

/*# sourceMappingURL=bundle.css.map*/