<div class="remove-article">
    <h3 class="remove-article__headline">Delete Article</h3>
    <table class="table remove-article__table">
        <tbody>
            <tr>
                <td>Title</td>
                <td class="remove-article__title break-word">{{$ctrl.article.title}}</td>
            </tr>
            <tr>
                <td>Content</td>
                <td class="remove-article__description break-word">{{$ctrl.article.description}}</td>
            </tr>
            <tr>
                <td>Author</td>
                <td class="remove-article__author break-word">{{$ctrl.article.author}}</td>
            </tr>
            <tr>
                <td>Source URL</td>
                <td class="remove-article__url break-word">{{$ctrl.article.url}}</td>
            </tr>
            <tr>
                <td>Image URL</td>
                <td class="remove-article__url-image break-word">{{$ctrl.article.urlToImage}}</td>
            </tr>
        </tbody>
    </table>
    <div class="message message--error" ng-show="$ctrl.error">{{$ctrl.error}}</div>
    <div class="message message--success" ng-show="$ctrl.message">{{$ctrl.message}}</div>
    <button class="btn btn--danger" ng-click="$ctrl.remove($ctrl.article._id)">Delete</button>
    <button type="button" class="btn btn--success" ng-click="$ctrl.navigate('admin', {}, {reload: true})">Back to Admin</button>
</div>
