extends layout

block actions
    .show-news-wrapper
        button.btn.btn--show-news Show news
    .choose-source-wrapper.hidden
        label Choose source:
        select.sources
    include elements/login

block content
    section.articles.section
        if message.length
            div.errors-block
                h1 #{message}
