doctype html
html
    head
        title [FrontCamp]Introduction to ECMAScript 2015 v2 by Eillihn
        block head
    body
    include elements/nav
    .container.news-feed
        header.header
            include elements/logo
            block actions
        block content
    script(src='/bundle.js')